<h1 mat-dialog-title class="accent modal-title">Canbio Password</h1>
<form (ngSubmit)="onYesClick()" [formGroup]="formGroup">
    <mat-dialog-content>

      <mat-form-field>
        <input matInput class="dialog-input" type="password"  formControlName="old_password" [(ngModel)]="modalData.old_password" required>
        <mat-placeholder>Vecchia Password</mat-placeholder> 
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['old_password'].hasError('required')">La vecchia password è obbligatoria</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput class="dialog-input" type="password"  formControlName="new_password" [(ngModel)]="modalData.new_password" required>
        <mat-placeholder>Nuova Password</mat-placeholder>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['new_password'].hasError('minlength')">La password deve avere almento 5 caratteri</mat-error>
        <mat-error class="error-message" *ngIf="formGroup.controls['new_password'].hasError('required')">La nuova password è obbligatoria</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput class="dialog-input" type="password"  formControlName="confirm_password" [(ngModel)]="modalData.confirm_password" required [errorStateMatcher]="confirmValidParentMatcher">
        <mat-placeholder>Conferma Nuova Password</mat-placeholder>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['confirm_password'].hasError('required')">La conferma della password è obbligatoria</mat-error>
        <mat-error class="error-message" *ngIf="!formGroup.controls['confirm_password'].hasError('areEqual')">Le password non corrispondono</mat-error>
      </mat-form-field>

    </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button class="col-6" type="submit" color="accent" [disabled]="!formGroup.valid">
        Salva
    </button>
  </mat-dialog-actions>
</form>