<div class="dialog-header" >
  <h1 mat-dialog-title class="accent modal-title" >Cambio Password</h1>
  <button mat-dialog-close class="close-dialog"><mat-icon>close</mat-icon></button>
</div>
<form (ngSubmit)="onYesClick()" [formGroup]="formGroup">
    <div class="form__body">
      <mat-form-field class="mb-3">
        <input matInput class="dialog-input form-control" type="password"  formControlName="old_password" [(ngModel)]="modalData.old_password" required>
        <mat-placeholder>Vecchia Password</mat-placeholder>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['old_password'].hasError('required')">La vecchia password è obbligatoria</mat-error>
        <mat-error class="error-message" *ngIf="formGroup.controls['old_password'].hasError('whiteSpace')">Gli spazi non sono ammessi</mat-error>
      </mat-form-field>
      <mat-form-field class="mb-3">
        <input matInput class="dialog-input" type="password"  formControlName="new_password" [(ngModel)]="modalData.new_password" required>
        <mat-placeholder>Nuova Password</mat-placeholder>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['new_password'].hasError('minlength')">La password deve avere almento 5 caratteri</mat-error>
        <mat-error class="error-message" *ngIf="formGroup.controls['new_password'].hasError('required')">La nuova password è obbligatoria</mat-error>
        <mat-error class="error-message" *ngIf="formGroup.controls['new_password'].hasError('whiteSpace')">Gli spazi non sono ammessi</mat-error>
      </mat-form-field>
      <mat-form-field class="mb-3">
        <input matInput class="dialog-input" type="password"  formControlName="confirm_password" [(ngModel)]="modalData.confirm_password" >
        <mat-placeholder>Conferma Nuova Password</mat-placeholder>
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error class="error-message" *ngIf="formGroup.controls['confirm_password'].hasError('required')">La conferma della password è obbligatoria</mat-error>
        <mat-error class="error-message" *ngIf="formGroup.controls['confirm_password'].hasError('passwordMatch')">Le nuove password devono corrispondere</mat-error>
      </mat-form-field>
    </div>
    <div class="form__footer">
      <button mat-raised-button class="col-6" type="submit" color="accent" [disabled]="!formGroup.valid">
          Salva
      </button>
    </div>
</form>
