:host {
    mat-form-field {
        width: 100%;
    }
    form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    .dialog-input {
        font-size: 2rem;
    }
    .modal-title {
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        color: #25b2f7;
    }
}