:host {
    mat-form-field {
      width: 100%;
    }
    mat-dialog-content {
      min-height: 80%;
    }
    form {
      min-width: 150px;
      max-width: 500px;
      height: 75%;
      width: 100%;
    }
    .dialog-input {
      font-size: 2rem;
    }
    .modal-title {
      margin: 30px 0 30px;
      text-align: center;
      font-size: 3em;
      font-weight: bold;
      color: #25b2f7;
    }
}
