<div class="dialog-header">
    <div class="close-dialog">
        <button mat-icon-button mat-dialog-close class="button-close--outlined" color="primary">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <h1 mat-dialog-title class="modal-title">Modifica Profilo</h1>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onYesClick()" novalidate>
    <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Anagrafica Utente">
        <div class="user-mat-tab">
        <div class="row" formGroupName="userdata">
            <mat-form-field class="col-md-6"  >
                <input matInput type="text" placeholder="Nome" formControlName="name"  required>
                <mat-icon matSuffix>face</mat-icon>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.name').hasError('required')">Campo
                    obbligatorio</mat-error>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.name').hasError('alphabeticOnly')">Numeri
                    non permessi</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6"  >
                <input matInput type="text" placeholder="Cognome" formControlName="surname"  required>
                <mat-icon matSuffix>face</mat-icon>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.surname').hasError('required')">Campo
                    obbligatorio</mat-error>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.surname').hasError('alphabeticOnly')">Numeri
                    non permessi</mat-error>
            </mat-form-field>
        </div>

        <div class="row" formGroupName="userdata">
            <mat-form-field class="col-md-6" >
                <input matInput type="text" placeholder="Indirizzo e-mail" formControlName="email" required>
                <mat-icon matSuffix>mail_outline</mat-icon>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.email').hasError('required')">Campo obbligatorio</mat-error>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.email').hasError('email_custom')">Formato Mail errato</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6"  >
                <input matInput type="text" placeholder="Telefono" [formControlName]="'phone'" required>
                <mat-icon matSuffix>local_phone</mat-icon>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.phone').hasError('required')">Campo  obbligatorio</mat-error>
                <mat-error class="error-message" *ngIf="formGroup?.get('userdata.phone').hasError('numericOnly')">Lettere non permesse</mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <div formGroupName="userdata">
                <mat-form-field class="col-md-6">
                    <mat-select formControlName="gender" placeholder="Sesso" required style="height: 25px">
                        <mat-option *ngFor="let sex of gender" [value]="sex.id">
                            {{sex.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.gender').hasError('required')">Campo obbligatorio</mat-error>
                </mat-form-field>    
            </div>
            <!-- username -->
            <mat-form-field class="col-md-6">
              <input matInput type="text" placeholder="Username" formControlName="username" required>
              <mat-icon matSuffix>face</mat-icon>
              <mat-error class="error-message" *ngIf="formGroup?.get('username').hasError('required')">Campo  obbligatorio</mat-error>
              <mat-error class="error-message" *ngIf="formGroup?.get('username').hasError('pattern')">Spazi non ammessi.</mat-error>
            </mat-form-field>
        </div>

        <div class="row  justify-content-end" *ngIf="hasOperatorPermission">
            <mat-slide-toggle class="col-md-4" formControlName="isOperator" (change)="isOperatorChange($event)">Operatore</mat-slide-toggle>
        </div><br>

        <div formGroupName="userdata">
            <mat-checkbox formControlName="privacyaccept">
                <span class="mat-caption col-md-12">Accetto le condizioni generali per la privacy*</span>
            </mat-checkbox><br>
            <mat-error class="error-message" *ngIf="formGroup?.get('userdata.privacyaccept').hasError('required')">Campo obbligatorio</mat-error>
            <mat-checkbox formControlName="newsletteraccept" >
                <span class="mat-caption col-md-12">Iscrizione alla Newsletter</span>
            </mat-checkbox><br>
            <mat-checkbox formControlName="becontacted" >
                <span class="mat-caption col-md-12">Acconsento ad essere contattato</span>
            </mat-checkbox>    
        </div>
      </div>
      </mat-tab>
      <mat-tab label="Servizi Operatore" class="operator-mat-tab" *ngIf="formGroup?.get('isOperator').value">
        <div class="operator-mat-tab" *ngIf="hasOperatorPermission">
          <mat-form-field class="col-md-12">
            <mat-select formControlName="services" [compareWith]="compareObjects" placeholder="Servizi.." required style="height: 25px" multiple>
              <mat-option *ngFor="let service of ticketService" [value]="service" >
                {{service.service}}
              </mat-option>
            </mat-select>
            <mat-error class="error-message" *ngIf="formGroup?.get('services')?.hasError('required')">Campo obbligatorio</mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-12">
            <mat-select formControlName="office" [compareWith]="compareObjects" placeholder="Ufficio.." required style="height: 25px" >
                <mat-option *ngFor="let office of offices" [value]="office">
                    {{office.office}}
                </mat-option>
            </mat-select>
            <mat-error class="error-message" *ngIf="formGroup?.get('office')?.hasError('required')">Campo obbligatorio</mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-12">
            <mat-select formControlName="role" [compareWith]="compareObjects" placeholder="Ruolo.." required style="height: 25px" >
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{role.name}}
                </mat-option>
            </mat-select>
            <mat-error class="error-message" *ngIf="formGroup?.get('role')?.hasError('required')">Campo obbligatorio</mat-error>
          </mat-form-field>

        </div>
      </mat-tab>
    </mat-tab-group>
    </mat-dialog-content>

    <mat-dialog-actions class="form__footer">
        <button mat-raised-button class="col-md-6" type="submit" color="accent" [disabled]="!formGroup.valid">
            Procedi
        </button>
    </mat-dialog-actions>
</form>

