<div class="container" >
  <!-- TIME CHOOSE -->
  <mat-card>
      <mat-card-header>
        <mat-card-title>Scegli un Periodo di Tempo</mat-card-title>
      </mat-card-header>
      <mat-card-content class="time-choose">
          <div>
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Da" [formControl]="fromDate" required (dateInput)="addEvent('input', $event)" >
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error class="error-message" *ngIf="fromDate.hasError('required')">La data di inizio è obbligatoria</mat-error>
                <mat-error class="error-message" *ngIf="fromDate.hasError('date')">Data non valida, usare (GG/MM/YYYY)</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="A" [formControl]="toDate" required (dateInput)="addEvent('input', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error class="error-message" *ngIf="toDate.hasError('required')">La data di fine è obbligatoria</mat-error>
                <mat-error class="error-message" *ngIf="toDate.hasError('date')">Data non valida, usare (GG/MM/YYYY)</mat-error>
              </mat-form-field>
          </div>
      </mat-card-content>
  </mat-card>

  <!-- OVERVIEW -->
  <mat-card class="overview-channel">
      <mat-card-header>
        <mat-card-title>Overview Canali di Comunicazione - Tot. Ticket</mat-card-title>
      </mat-card-header>

      <div class="overview-number">
        <!-- CARDS -->

        <mat-card-content class="overview-card">
          <div class="fuse-card chat">
            <div class="card-left">
              <mat-icon>forum</mat-icon>
            </div>
            <div class="card-right">
              <div class="card-title">
                Chat
              </div>
              <div class="card-result">
                {{(sumServices)?sumServices.CHAT.value:''}}
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content class="overview-card">
            <div class="fuse-card sms">
              <div class="card-left">
                <mat-icon>textsms</mat-icon>
              </div>
              <div class="card-right">
                <div class="card-title">
                  SMS
                </div>
                <div class="card-result">
                  {{(sumServices)?sumServices.SMS.value:''}}
                </div>
              </div>
            </div>
          </mat-card-content>

        <mat-card-content class="overview-card">
            <div class="fuse-card mail">
              <div class="card-left">
                <mat-icon>email</mat-icon>
              </div>
              <div class="card-right">
                <div class="card-title">
                  E-mail
                </div>
                <div class="card-result">
                  {{(sumServices)?sumServices.MAIL.value:''}}
                </div>
              </div>
            </div>
          </mat-card-content>

        <mat-card-content class="overview-card">
            <div class="fuse-card videochat">
              <div class="card-left">
                <mat-icon>videocam</mat-icon>
              </div>
              <div class="card-right">
                <div class="card-title">
                  Video Chat
                </div>
                <div class="card-result">
                  {{(sumServices)?sumServices.VIDEOCHAT.value:''}}
                </div>
              </div>
            </div>
          </mat-card-content>

        <mat-card-content class="overview-card">
            <div class="fuse-card telegram">
              <div class="card-left">
                <span class="icon-ermes-telegram"></span>
              </div>
              <div class="card-right">
                <div class="card-title">
                  TELEGRAM
                </div>
                <div class="card-result">
                  {{(sumServices)?sumServices.TELEGRAM.value:''}}
                </div>
              </div>
            </div>
          </mat-card-content>

          <!-- <mat-card-content class="overview-card">
            <ngx-charts-number-card
              [view]="view"
              [scheme]="colorScheme"
              [results]="sumServices"
              >
            </ngx-charts-number-card>
          </mat-card-content> -->

          <!-- GRAPHICS -->
      </div>
      <div class="overview-chart">

        <ngx-charts-line-chart
          [results]="sumMonthAndServices"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [customColors]="customColorSchemeService"
        ></ngx-charts-line-chart>

      </div>

  </mat-card>

  <!-- CHANNEL OFFICE -->
  <mat-card class="channel-office">
      <mat-card-header>
        <mat-card-title>Canali Soddisfatti da ciascuna sede</mat-card-title>
      </mat-card-header>
      <div class="channel-office-content">
          <div *ngFor="let item of sumOfficeAndServices" class="channel-pie-content">
            <p class="channel-pie-title">{{item.name}}</p>
            <p class="channel-pie-subtitle">Tot. Ticket</p>
            <p class="channel-pie-subtitle">{{sumPieTicket(item)}}</p>
            <ngx-charts-pie-chart
              [results]="item.series"
              [legend]="showLegend"
              [explodeSlices]="explodeSlices"
              [labels]="showLabels"
              [doughnut]="doughnut"
              [gradient]="gradient"
              [customColors]="customColorSchemeService"
            ></ngx-charts-pie-chart>
          </div>
      </div>
  </mat-card>

  <!-- DISTRIBUTION OFFICE -->
  <mat-card class="service-office">
      <mat-card-header>
        <mat-card-title>Distribuzione servizio per sedi</mat-card-title>
      </mat-card-header>
      <div class="channel-office-content">
        <div *ngFor="let item of sumServicesAndOffice" class="channel-pie-content">
          <p class="channel-pie-title" [ngStyle]="{'color': getStyleColor(item.name)}" >{{getServiceName(item.name)}}</p>
          <ngx-charts-pie-chart
            [results]="item.series"
            [legend]="showLegend"
            [explodeSlices]="explodeSlices"
            [labels]="showLabels"
            [doughnut]="doughnut"
            [gradient]="gradient"
            [customColors]="customColorSchemeOffice"
          ></ngx-charts-pie-chart>
        </div>
    </div>
  </mat-card>

  <!-- DISTRIBUTION OPERATOR -->
  <mat-card class="service-operator">
      <mat-card-header>
        <mat-card-title>Operatori</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <table>
            <thead>
              <tr>
                <td></td>
                <td>Sede</td>
                <td [ngStyle]="{'color': getStyleColor('CHAT')}">{{getServiceName('CHAT')}}</td>
                <td [ngStyle]="{'color': getStyleColor('SMS')}">{{getServiceName('SMS')}}</td>
                <td [ngStyle]="{'color': getStyleColor('EMAIL')}">{{getServiceName('MAIL')}}</td>
                <td [ngStyle]="{'color': getStyleColor('VIDEOCHAT')}">{{getServiceName('VIDEOCHAT')}}</td>
                <td [ngStyle]="{'color': getStyleColor('TELEGRAM')}">{{getServiceName('TELEGRAM')}}</td>
                <td>Totale</td>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of sumServicesAndOperator" >
                  <td>{{item.name}}</td>
                  <td>{{item.office}}</td>
                  <td >{{getServiceValue(item.series, 'CHAT')}}</td>
                  <td >{{getServiceValue(item.series, 'SMS')}}</td>
                  <td >{{getServiceValue(item.series, 'MAIL')}}</td>
                  <td >{{getServiceValue(item.series, 'VIDEOCHAT')}}</td>
                  <td >{{getServiceValue(item.series, 'TELEGRAM')}}</td>
                  <td>{{getSumByOperator(item.series)}}</td>
              </tr>
            </tbody>
          </table>
      </mat-card-content>
  </mat-card>





</div>
