.videocontainer {
    position: relative;


    #localVideo {
        position: absolute;
        top: -15px;
        right: 10px;
        height: 200px;
        box-shadow: black 10px 10px 50px;
    }


}