.videocontainer {
    position: relative;
}

#localVideo {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    box-shadow: black 10px 10px 50px;
}

#remoteVideos {
}

.videoWall {
    width: 100% !important;
}
