.chat {
    height: 66vh;


    #chat-content {
      background: transparent;
      overflow: auto;
      opacity: 1;

      .message {
        word-wrap: break-word;
        white-space: pre-line;
        overflow-wrap: break-word;
      }

    }

    .chat-footer {
        min-height: 54px;
        max-height: 96px;
        // background-color: #F3F4F5;
        color: rgba(0, 0, 0, 0.87);
        border-top: 1px solid rgba(0, 0, 0, .08);
        padding: 8px 8px 8px 16px;
        background-color: transparent;

        .reply-form {

          mat-form-field {
            margin: 0;
            padding-right: 16px;
            background-color: transparent;

            textarea {
              overflow: auto;
              max-height: 80px;
              transition: height 200ms ease;
              &.grow {
                height: 80px;
              }
            }

            .mat-errors-spacer {
              display: none;
            }
          }
          .mat-button {
            margin: 0;
          }
        }
      }

      .default-dialog {
        padding-top: 10px;
        min-width: 100%;;
        ul a {
          padding-bottom: 5px;
          &:hover {
            text-decoration:  none;
          }
        }
        .mat-raised-button {
          line-height: 26px !important;
          margin-bottom: 5px;
          width: 100%;
          font-style: oblique;
          font-size: 15px;
        } 
      }

}
