<ngx-spinner bdColor="rgba(51, 51, 51, 0.0)" size="large" color="#039be5" type="ball-clip-rotate"></ngx-spinner>
<div class="p-20" fxFlex fxLayout="column" *ngIf="!!service">
    <fuse-ticket-head [ticket]="ticket" (open)="setOpen($event)"></fuse-ticket-head>
    <div class="ticket_detail_service__container" *ngIf="open && ticket">
        <fuse-ticket-messages id="chat" class="col p-0" [ticket]="ticket" style="overflow: hidden;"></fuse-ticket-messages>
    </div>
</div>

<!-- <fuse-ticket-video-chat [idTicket]="idTicket" *ngIf="open"></fuse-ticket-video-chat> -->