:host {
    div {
        width: 100%;
    }

    #content-bottom {
        #chat {
            background:  url('/assets/images/patterns/telegram.jpg') repeat;
            overflow: auto;
            height: max-content;
        }
        #note {
            background-color: lightslategray;
            overflow: auto;
            height: max-content;
        }
    }

}

.table__service__chat {
    background-color: lightskyblue;
    font-weight: bold;
    text-align: center;
}

.table__service__sms {
    background-color: coral;
    font-weight: bold;
    text-align: center;
}

.table__service__mail {
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
}

.ticket_detail_service__container {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.ticket_note__container {
    overflow: auto;
    padding-left: 25px;
}
