<h1>RAPPORTINO CHIUSURA TICKET N° {{data.ticket.id}} DEL {{data.ticket.dat_time | date:'dd/MM/yyyy HH:mm':'UTC'}} SERVIZIO [{{data.ticket.service}}]</h1>
<mat-dialog-content>
  <div #report_container>
    <!-- <ng-template #clone> -->
      <div class="bordered" *ngFor="let item of ticket_report; let i = index">
          <mat-form-field  class="col-4">
            <mat-select placeholder="Tipo chiamata..." [(ngModel)]="item.id_call_type" disabled>
              <mat-option *ngFor="let ct of call_type" [value]="ct.id" [attr.selected]="item.id_call_type==ct.id ? true : null">
                {{ ct.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  class="col-4" >
            <input matInput type="text" class="col-4 dialog-input" placeholder="N° Chiamato" [(ngModel)]="item.number" disabled>
          </mat-form-field>
          <mat-form-field class="col-4">
            <mat-select placeholder="Risultato chiamata..." [(ngModel)]="item.id_call_result" disabled>
              <mat-option *ngFor="let cr of call_result" [value]="cr.id" [attr.selected]="item.id_call_result==cr.id ? true : null">
                {{ cr.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    <!-- </ng-template> -->
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button  [mat-dialog-close]="false" color="warn">
      <mat-icon>close</mat-icon> Chiudi
  </button>
</mat-dialog-actions>
