<div class="content m-0 p-0" *ngIf="newTicket">
    <div>
        <fieldset class="border" style="width: 100%">
            <legend>Dettaglio Ticket</legend>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Stato</th>
                  <th>Categoria</th>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Canale</th>
                  <th>Data e Ora</th>
                  <th>
                    <div class="button-row info-button">Numero di Telefono
                      <mat-icon class="pull-right icon--white" (click)="openDialogDetail()">info_outline</mat-icon>
                  </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table__ticket__detail" [ngClass]="{'blink': (ticket.status.status === 'ONLINE') }">{{ticket.status}}</td>
                  <td class="table__ticket__detail">{{ticket.category}}</td>
                  <td class="table__ticket__detail">{{ticket.user_name}}</td>
                  <td class="table__ticket__detail">{{ticket.user_surname}}</td>
                  <td class="table__ticket__detail" [ngClass]="{
                        table__service__chat: ticket.id_service == 1,
                        table__service__sms: ticket.id_service == 2,
                        table__service__mail: ticket.id_service == 3,
                        table__service__telegram: ticket.id_service == 6,
                        table__service__videochat: element.id_service == 5
                        }">{{ticket.service}}</td>
                  <td class="table__ticket__detail" [ngClass]="{'warn-900-fg blink': timeout }">{{ticket.date_time |
                    date:'dd/MM/yyyy HH:mm':'UTC'}}</td>
                    <td class="table__ticket__detail table__ticket__detail--phone">
                      <p *ngFor="let item of ticket.reports">{{item.number}}</p>
                    </td>
                  </tr>
              </tbody>
            </table>
            <div class="table__ticket__detail__description" *ngIf="ticketReason">
                <strong>Descrizione:</strong> {{ticketReason}}
            </div>
            <div class="text-center">
              <span *ngIf="msgAlert" class="alert">Ticket già aperto da [ {{ticket.operator_name + ' ' +
                ticket.operator_surname}} ]</span>
            </div>
          </fieldset>
    </div>
    <div class="row m-2">
      <button *ngIf="!isOpen && ticket.id_operator !== user.id && ticket.status !== 'NEW'" class="mat-button done-button mat-accent col" (click)="acquireTicket()">
        <mat-icon>assignment</mat-icon> Acquisisci
      </button>
      <button *ngIf="!isOpen && ticket.status === 'CLOSED'" class="mat-button done-button mat-accent col" (click)="activateChat()">
        <mat-icon>featured_play_list</mat-icon> Riapri
      </button>
      <button *ngIf="!isOpen && ticket.status === 'NEW'" class="mat-button done-button mat-accent col" (click)="activateChat()">
        <mat-icon>done</mat-icon> Accetta
      </button>
      <button *ngIf="isOpen" class="mat-button delete-button mat-warn col" (click)="openDialog()">
        <mat-icon>close</mat-icon> Close
      </button>
      <button *ngIf="!isOpen && ticket.status == 'NEW'" class="mat-button delete-button mat-warn col" (click)="refuseChat()">
        <mat-icon>block</mat-icon> Rifiuta
      </button>
      <button class="mat-button delete-button mat-warn col" (click)="abortChat()">
        <mat-icon>reply</mat-icon> Indietro
      </button>
    </div>
  </div>
