:host {
    .content {
        padding-top: 10px;
        legend {
            color: #25b2f7;
        }

        .left-col {
            // height: 54px;
        }
        .right-col {
            div {
                text-align: left;
                // padding: 3px;
                border: black solid 1px;
                background-color: #DDD;
                height: 70px;
            }
        }

        table {
            // width: 100%;
            border: black solid 1px;
            thead {
                background-color: #25b2f7;
                color: white;
                tr th {
                    border: black solid 1px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            tbody {
                td {
                    font-size: 12px;
                    font-weight: bolder;
                }
            }
            td {
                border: black solid 1px;
                padding: 2px;
            }
        }



        // #content-bottom {
        //     height: 68vh;
        //     #chat {
        //         background:  url('/assets/images/patterns/telegram.jpg') repeat;
        //         overflow: auto;
        //         height: max-content;
        //     }
        //     #note {
        //         background-color: lightgoldenrodyellow;
        //         overflow: auto;
        //         height: max-content;
        //     }
        // }

        // .default-select {
        //   padding-top: 10px;
        // }
        .msg-alert {
          padding-top: 20px;
        }
        span.alert {
            color: red;
            font-weight: bold;
            animation: blink 2s linear infinite;
        }
        .blink {
            animation: blink 2s ease infinite;
        }

        @keyframes blink {
            0%{opacity: 0;}
            50%{opacity: 1;}
            100%{opacity: 0;}
        }


    }
}


.table__service__chat {
    background-color: lightskyblue;
    font-weight: bold;
    text-align: center;
}

.table__service__sms {
    background-color: coral;
    font-weight: bold;
    text-align: center;
}

.table__service__mail {
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
}

.table__ticket__detail {
    font-size: 15px !important;
}