
<div class="container col-12">
  <div class="row left-col col-12 mat-elevation-z4">
    <div class="col-6">
      <fieldset class="col-12 border">
      <legend>Dettaglio Ticket:</legend>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Canale</th>
              <th>Data e Ora</th>
              <th>Numero di Telefono</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{ticket.user.name}}</td>
                <td>{{ticket.user.surname}}</td>
                <td>{{ticket.service.service}}</td>
                <td>{{ticket.date_time | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{ticket.phone}}</td>
              </tr>
          </tbody>
        </table>
      </fieldset>
    </div>

    <div class="col-6 right-col">
      <fieldset class="border">
      <legend>Descrizione:</legend>
        <div >
            {{ticketReason}}
        </div>
      </fieldset>
    </div>
    <div class="row col-12">
      <div class="col-6 text-center">
        <br>
        <button class="mat-button done-button mat-accent col-3" (click)="activateChat()"><mat-icon>done</mat-icon> Accetta</button>
        <button class="mat-button delete-button mat-warn col-3" (click)="deleteChat()"><mat-icon>delete</mat-icon> Rfiuta</button>
      </div>
    </div>

  </div>

  <div class="row col-12 mt-12 mat-elevation-z4" style="height: 67vh">

    <div id="chat" class="col-7 border fullwidth" *ngIf="open">
      <fuse-ticket-messages [historys]="ticket.historys"></fuse-ticket-messages>
    </div>

    <div id="note" class="col-5 border fullwidth page-layout" >
        <!--<fuse-ticket-messages [historys]="ticket.historys"></fuse-ticket-messages>-->
    </div>
  </div>



</div>
