:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-form-field {
    width: 100%;
  }
  mat-dialog-content {
    min-height: auto;
  }
  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    .dialog-input {
      font-size: 1em;
    }
  }

  .form__body {
    flex-grow: 1;
    display: block;
  }

  .form__footer {
    display: block;
    text-align: center;
  }

  .dialog-header {
    position: relative;
    text-align: center;
  }
  .modal-title {
    font-size: 3em;
    font-weight: bold;
    color: #25b2f7;
  }

  .close-dialog {
    position: absolute;
    top: 0;
    right: -10px;
  }
}
