<div class="ticket-container col-12 container">
  <div class="filter-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort class="col-12" *ngIf="dataSource">
    <ng-container matColumnDef="service">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-1">Servizio</mat-header-cell>
      <mat-cell *matCellDef="let element" class="col-1" [ngClass]="{
        table__service__chat: element.id_service == 1,
        table__service__sms: element.id_service == 2,
        table__service__mail: element.id_service == 3,
        table__service__telegram: element.id_service == 6,
        table__service__videochat: element.id_service == 5
        }">
        {{element.service }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-1">Stato</mat-header-cell>
      <mat-cell *matCellDef="let element" class="col-1"> {{element.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operator">
      <mat-header-cell *matHeaderCellDef mat-sort-header="operator_firstname" class="col-2">Operatore</mat-header-cell>
      <mat-cell *matCellDef="let element" class="col-2">{{element.operator_name}} {{element.operator_surname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header="user_name" class="col-2">Utente</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngStyle]="{'color': element.user_disabled ? 'red' : 'rgba(0, 0, 0, 0.87)'}" class="col-2"> {{element.user_name}} {{element.user_surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-1">Categoria</mat-header-cell>
      <mat-cell *matCellDef="let element" class="col-1"> {{element.category}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 text-center"><span class="col-12 text-center">Telefono</span></mat-header-cell>
      <mat-cell *matCellDef="let element" class="col-2 text-right">
          <p *ngFor="let item of element.reports">{{item.number}}</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_time">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2">Data</mat-header-cell>
      <mat-cell *matCellDef="let element" class="col-2"> {{element.date_time | date:'dd/MM/yyyy HH:mm':'UTC'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="col-1 text-center"> Azioni</mat-header-cell>
      <mat-cell *matCellDef="let element" class="col-1 text-center" >
        <div class="action">
          <mat-icon class="icon--clickable" (click)="showTicketDetail(element)">visibility</mat-icon>
          <span *ngIf="element.unreaded_messages" class="badge badge-pill badge-danger" [innerHTML]="element.unreaded_messages"></span>
        </div>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
