
.ticket-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

mat-form-field{
    padding: 5px;
}

.filter-header {
    min-height: 64px;
    padding: 8px 12px 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

mat-row:nth-child(even){
    background-color: lightgray;
}

mat-row:nth-child(odd){

}


.mat-header-row, .mat-row {
  
}

mat-header-row {
    background-color:#25b2f7;
    font-weight: bolder;
    mat-header-cell {
        color: white;
    }
}

.mat-cell {
    position: relative;
    font-size: 12px;

}

.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .badge {
        margin-left: 5px;
    }
}

.icon--clickable {
    cursor: pointer;
}

.table__service__chat {
    background-color: lightskyblue;
    font-weight: bold;
    text-align: center;
}

.table__service__sms {
    background-color: coral;
    font-weight: bold;
    text-align: center;
}

.table__service__mail {
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
}

.table__service__telegram {
    background-color: lightpink;
    font-weight: bold !important;
    text-align: center;
}

.table__service__videochat {
    background-color: white;
    font-weight: bold !important;
    text-align: center;
}