
<div class="chat mt-2" fxFlex fxLayout="column">

    <div id="chat-content" fxFlex fusePerfectScrollbar>

        <!-- CHAT MESSAGES -->
        <div class="chat-messages" *ngFor="let message of ticketHistorys" >

            <!-- MESSAGE -->
            <div fxLayout="row" class="message-row"
                [ngClass]="{'user': (message.type.type === 'OPERATOR'),'system': (message.type.type === 'SYSTEM')}"
                *ngIf="message.type.type === 'USER' || message.type.type === 'OPERATOR'  || message.type.type === 'SYSTEM'">

                <img class="avatar" *ngIf="message.type.type === 'USER'" src="../../../../../../assets/images/avatars/alice.jpg"/>

                <img class="avatar"  *ngIf="message.type.type === 'OPERATOR'"  src="../../../../../../assets/images/avatars/profile.jpg">

                <div class="bubble">
                    <div class="message">{{message.action}}</div>
                    <div class="time secondary-text">{{message.date_time | date:'medium'}}</div>
                </div>

            </div>
            <!-- / MESSAGE -->

        </div>
        <!-- CHAT MESSAGES -->

    </div>
    <!-- / CHAT CONTENT -->

    <!-- CHAT FOOTER -->
    <div class="chat-footer" fxLayout="row" fxLayoutAlign="center center">

        <!-- REPLY FORM -->
        <form #replyForm="ngForm"
            (ngSubmit)="reply($event)"
            (keyup.enter)="reply($event)"
            fxFlex class="reply-form"
            fxLayout="row"
            fxLayoutAlign="start center">

            <mat-form-field class="" fxFlex floatPlaceholder="never">
                <textarea matInput #replyInput placeholder="Scrivi il messaggio e premi Enter"
                        ngModel name="message"></textarea>
            </mat-form-field>

            <button mat-fab class="mat-button" type="submit" aria-label="Send message">
                <mat-icon>send</mat-icon>
            </button>

        </form>
        <!-- / REPLY FORM -->
    </div>
    <!-- / CHAT FOOTER-->


</div>

<simple-notifications [options]="options"></simple-notifications>
