<div class="tab-container col-md-12 p-24" fusePerfectScrollbar>
  <mat-tab-group #tabGroup class="mat-elevation-z24" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Nuove">
      <mat-list>
        <fuse-ticket-item [allTicket]="tableTickets"></fuse-ticket-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="In Carico">
      <mat-list>
          <fuse-ticket-item [allTicket]="tableTickets"></fuse-ticket-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Chiuse">
      <mat-list>
          <fuse-ticket-item [allTicket]="tableTickets"></fuse-ticket-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Rifiutate">
      <mat-list>
          <fuse-ticket-item [allTicket]="tableTickets"></fuse-ticket-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="I Miei Ticket Aperti">
      <div>
        <fuse-ticket-item [allTicket]="tableTickets"></fuse-ticket-item>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
