<div class="dialog-header">
    <div class="close-dialog">
            <button mat-icon-button mat-dialog-close class="button-close--outlined" color="primary">
                <mat-icon>close</mat-icon>
            </button>
    </div>
    <h1 mat-dialog-title class="modal-title">Registrazione</h1>
</div>
<form [formGroup]="formGroup" class="mat-dialog-content" (ngSubmit)="onYesClick()" novalidate>
  <mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Anagrafica Utente">
      <div class="user-mat-tab">

        <div class="dialog-content__container">
            <div class="row">
                <mat-form-field class="col-md-6"  >
                    <input matInput  type="text" placeholder="Username" formControlName="username"  required>
                    <mat-icon matSuffix>face</mat-icon>
                    <!-- TODO USERNAME ERROR -->
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-md-6"  >
                    <input matInput  type="password" placeholder="Password"  formControlName="password"  required>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-error class="error-message" *ngIf="formGroup?.get('password').hasError('policyNotMatch')">Lunga 10 con una minuscola, una maiuscola, un numero e un simbolo</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('password').hasError('required')">La nuova password è obbligatoria</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('password').hasError('whiteSpace')">Gli spazi non sono ammessi</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('password').hasError('passwordMatch')">Le password devono corrispondere</mat-error>
                </mat-form-field>
                <mat-form-field  class="col-md-6">
                    <input matInput type="password"  placeholder="Conferma Nuova Password" formControlName="confirm_password" required>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-error class="error-message" *ngIf="formGroup?.get('confirm_password').hasError('required')">La conferma della password è obbligatoria</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('confirm_password').hasError('passwordMatch')">Le password devono corrispondere</mat-error>
                  </mat-form-field>
            </div>

            <div class="row"  formGroupName="userdata">
                <mat-form-field class="col-md-6"  >
                    <input matInput  type="text" placeholder="Nome" formControlName="name"  required>
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.name').hasError('required')">Campo
                        obbligatorio</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.name').hasError('alphabeticOnly')">Numeri
                        non permessi</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6"  >
                    <input matInput  type="text" placeholder="Cognome"  formControlName="surname"  required>
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.surname').hasError('required')">Campo
                        obbligatorio</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.surname').hasError('alphabeticOnly')">Numeri
                        non permessi</mat-error>
                </mat-form-field>
            </div>

            <div class="row"  formGroupName="userdata">
                <mat-form-field class="col-md-6"  >
                    <input matInput  type="text" placeholder="Indirizzo e-mail"  formControlName="email" required>
                    <mat-icon matSuffix>mail_outline</mat-icon>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.email').hasError('required')">Campo obbligatorio</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.email').hasError('email_custom')">Formato Mail errato</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6"  >
                    <input matInput  type="text" placeholder="Telefono"  formControlName="phone" required>
                    <mat-icon matSuffix>local_phone</mat-icon>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.phone').hasError('required')">Campo  obbligatorio</mat-error>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.phone').hasError('numericOnly')">Lettere non permesse</mat-error>
                </mat-form-field>
            </div>

            <div class="row"  formGroupName="userdata">
                <mat-form-field class="col-md-6"   >
                    <mat-select formControlName="gender" placeholder="Sesso" required>
                        <mat-option *ngFor="let sex of gender" [value]="sex.id">
                            {{sex.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="error-message" *ngIf="formGroup?.get('userdata.gender').hasError('required')">Campo obbligatorio</mat-error>
                </mat-form-field>
                <!-- <mat-form-field class="col-md-6"  >
                    <input matInput  type="text" formControlName="card_number"  placeholder="Numero di Carta ENS">
                    <mat-icon matSuffix>card_membership</mat-icon>
                </mat-form-field> -->
            </div>
            <div class="row" formGroupName="userdata">
              <mat-checkbox formControlName="privacyaccept">
                  <span class="mat-caption col-md-12">Accetto le condizioni della privacy*</span>
              </mat-checkbox><br>
              <mat-error class="error-message" *ngIf="formGroup?.get('userdata.privacyaccept').hasError('required')">Campo obbligatorio</mat-error>
              <mat-checkbox formControlName="newsletteraccept">
                  <span class="mat-caption col-md-12">Iscrizione alla Newsletter</span>
              </mat-checkbox><br>
              <mat-checkbox formControlName="becontacted" >
                  <span class="mat-caption col-md-12">Acconsento ad essere contattato</span>
              </mat-checkbox>
              </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Dettagli Operatore" class="operator-mat-tab" *ngIf="data.modalData && hasOperatorPermission">
        <div class="operator-mat-tab" >

          <div class="row">
            <mat-form-field class="col-12">
                <mat-select formControlName="services" placeholder="Servizi.." required style="height: 25px" multiple>
                    <mat-option *ngFor="let service of ticketService" [value]="service" >
                    {{service.service}}
                    </mat-option>
                </mat-select>
                <mat-error class="error-message" *ngIf="formGroup?.get('services')?.hasError('required')">Campo obbligatorio</mat-error>
                </mat-form-field>
                <mat-form-field class="col-12">
                    <mat-select formControlName="office" placeholder="Ufficio.." required style="height: 25px" >
                        <mat-option *ngFor="let office of offices" [value]="office">
                            {{office.office}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="error-message" *ngIf="formGroup?.get('office')?.hasError('required')">Campo obbligatorio</mat-error>
                </mat-form-field>
              <mat-form-field class="col-12">
                <mat-select formControlName="role" placeholder="Ruolo.." required style="height: 25px" >
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{role.name}}
                    </mat-option>
                </mat-select>
                <mat-error class="error-message" *ngIf="formGroup?.get('role')?.hasError('required')">Campo obbligatorio</mat-error>
              </mat-form-field>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
    </mat-dialog-content>

    <div class="form__footer">
        <button mat-raised-button class="col-md-6" type="submit" color="accent" [disabled]="!formGroup.valid">
            Procedi
        </button>
    </div>
</form>

